<%= form_for(@target) do |f| %>
  <% if @target.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@target.errors.count, "error") %> prohibited this target from being saved:</h2>

      <ul>
      <% @target.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dealer_id %><br>
    <%= f.number_field :dealer_id %>
  </div>
  <div class="field">
    <%= f.label :crop_id %><br>
    <%= f.number_field :crop_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
