<%= form_for(@position) do |f| %>
  <% if @position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
      <% @position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="panel-title text-center">
          <%= link_to 'Back', positions_path, class: "btn btn-success pull-left",:style=>'color:#FFFFFF' %>
          <%= link_to 'Cancel', root_path, class: "btn btn-danger pull-left",:style=>'color:#FFFFFF' %>
          <b>Register New Field Assistant (Fullfill Position)</b>
          <%= link_to 'Create Position', new_field_assistant_path, class: "btn btn-success pull-right",:style=>'color:#FFFFFF' %>
        </h1>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12 text-center">
                <div class="row">
                  <div class="col-md-12">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">
                          <b>Fullfill Position Information</b>
                        </h3>
                      </div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h3 class="panel-title">
                                  <b>Field Assistant Demographics</b>
                                </h3>
                              </div>
                              <div class="panel-body">
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group text-left">
                                      <label>
                                        Select Open Position
                                      </label>
                                      <%= f.collection_select :field_assistant_id, FieldAssistant.all, :id, :fa_num, {:include_blank => true},{class: "form-control"}  %>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group text-left">
                                      <%= f.label :contact_number, "Contact Number" %><br>
                                      <%= f.text_field :contact_number, {class: "form-control"}  %>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group text-left">
                                      <%= f.label :first_name, "First Name" %><br>
                                      <%= f.text_field :first_name, {class: "form-control"}  %>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group text-left">
                                      <%= f.label :surname, "Surname" %><br>
                                      <%= f.text_field :surname, {class: "form-control"}  %>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group text-left">
                                      <%= f.label :address, "Address" %><br>
                                      <%= f.text_field :address, {class: "form-control"}  %>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group text-left">
                                      <%= f.label :taluka, "Taluka" %><br>
                                      <%= f.collection_select :pocket_dat_id, PocketDat.all, :id, :taluka, {:include_blank => true}, class: "form-control" %>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group text-left">
                                      <%= f.label :district, "District" %><br>
                                      <%= f.collection_select :district_id, District.all, :id, :district, {:include_blank => true}, class: "form-control" %>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group text-left">
                                      <%= f.label :pin_code, "Pin Code" %><br>
                                      <%= f.text_field :pin_code, {class: "form-control"}  %>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h3 class="panel-title">
                                  <b>Work Experience in Field</b>
                                </h3>
                              </div>
                              <div class="panel-body">
                                <div class="row">
                                  <div class="col-md-12">
                                    <%= f.label :yes, "Check if FA has experience" %><br>
                                    <%= f.check_box :yes %>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h3 class="panel-title">
                                  <b>Recommended Dealer</b>
                                </h3>
                              </div>
                              <div class="panel-body">
                                <div class="form-group">
                                  <%= f.collection_select :dealer_id, Dealer.all, :id, :name, {:include_blank => true},{class: "form-control"}  %>
                                </div>
                              </div>
                            </div>
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h3 class="panel-title">
                                  <b>FA Registration Form</b>
                                </h3>
                              </div>
                              <div class="panel-body" align="center">
                                <div class="picture-container">
                                  <div class="picture">
                                    <img src="http://image.flaticon.com/icons/png/512/52/52297.png" class="picture-src" id="wizardPicturePreview" title="">
                                    <%= f.file_field :form, id:"wizard-picture" %>
                                  </div>
                                  <h5 class=""><b>Upload Form</b></h5>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
          </div>
          <div class="col-md-4 text-right">
            <div class="actions">
              <%= f.submit "Submit", class: "btn btn-primary pull-right", id:"sub_stuff"%>
            </div>
          </div>
        </div>
      </div>
    </div>
<%end%>