<%= form_for(@pocket) do |f| %>
    <% if @pocket.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@pocket.errors.count, "error") %> prohibited this pocket from being saved:</h2>

          <ul>
            <% @pocket.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <body>
    <div class="container">
      <div class="panel panel-primary">
        <div class="panel-heading text-center">
          <h1 class="panel-title text-center">
            <%= link_to 'Back', pockets_path, class: "btn btn-success pull-left",:style=>'color:#FFFFFF' %>
            <%= link_to 'Cancel', root_path, class: "btn btn-danger pull-right",:style=>'color:#FFFFFF' %>
            <b> Register New Pocket</b>
          </h1>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading text-center">
                  <b>Geographic Information</b>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label :state_id %><br>
                        <%= f.collection_select :state_id, State.all, :id, :state, {:include_blank => true}, {class: "form-control",id: 'sr_state'} %>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label :user_id, "State Manager" %><br>
                        <%= f.grouped_collection_select :user_id, State.all,:state_manager,:state, :id, :sur_name, {:include_blank => true}, {class: "form-control",id: 'state_manager'}  %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label :pocket_name, "Pocket Name" %><br>
                        <%= f.text_field :pocket_name, {class: "form-control"}  %>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label :user_id, "Sales Representative" %><br>
                        <%=f.grouped_collection_select :user_id, State.all,:sales_rep,:state, :id,:sur_name, {include_blank: ''},{class: "form-control", id: 'pocket_sr'}%>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 checkbox-list text-center">
                      <div class="form-group">
                        <br>
                        <div class="btn-group">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Select Districts <span class="caret"></span></button>
                      <ul class="dropdown-menu scrollable-menu" role="menu">
                        <li><div class="checkbox">
                          <%= f.collection_check_boxes :district_ids, District.all, :id, :district%>
                        </div></li>
                      </ul>

                    </div>
                      </div>
                    </div>
                    <div class="col-md-6 checkbox-list text-center">
                      <div class="form-group">
                        <br>
                        <div class="btn-group">
                      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">Select Crops <span class="caret"></span></button>
                      <ul class="dropdown-menu scrollable-menu" role="menu">
                        <li><div class="checkbox">
                          <%= f.collection_check_boxes :crop_ids, Crop.all, :id, :crop%>
                        </div></li>
                      </ul>

                    </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading text-center">
                  <b>Number of Potential Dealers</b>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label :type_a, "Type A" %><br>
                        <%= f.number_field :type_a, {class: "form-control"} %>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label :type_b, "Type B" %><br>
                        <%= f.number_field :type_b, {class: "form-control"} %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label :type_c, "Type C" %><br>
                        <%= f.number_field :type_c, {class: "form-control"} %>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label :type_d, "Type D" %><br>
                        <%= f.number_field :type_d, {class: "form-control"} %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <%= f.label :total_pdealer, "Total Number of Potential Dealers" %><br>
                        <%= f.number_field :total_pdealer,:disabled => true, class: "form-control" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :agriculture_land, "Overall Agriculture Land (Acres)" %><br>
                <%= f.text_field :agriculture_land, {class: "form-control"} %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :percent_irr, "Percentage of Area Irrigated (Optional)" %><br>
                <%= f.text_field :percent_irr, {class: "form-control"} %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title text-center">
                    <b>Pocket Information</b>
                  </h3>
                </div>
                <div class="panel-body">
                  <div>
                    <%= f.fields_for :pocket_dats do |prop|%>
                        <%=render 'pocket_dat_fields', f: prop%>
                    <%end%>

                    <div class="links ">
                      <%=link_to_add_association 'Add Pocket Info', f, :pocket_dats,class: "btn btn-success",:style=>'color:#FFFFFF'%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
              <div class="actions">
                <%= f.submit "Submit", class: "btn btn-primary pull-right"%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    </body>

<% end %>
