  <div class="nested-fields">
    <table class="table table-bordered">
      <tbody>
      </tbody>
      <thead>
      <tr>
        <th class="text-center">
          <label class="required">
            Taluka
          </label>
        </th>
        <th class="text-center">
          <label class="required">
            Village
          </label>
        </th>
        <th class="text-center">
          <label class="required">
            Dealers
          </label>
        </th>
        <th class="text-center">
          <label class="required">
            Farmers
          </label>
        </th>
        <th class="text-center">
          <label class="required">
            Field Assistant
          </label>
        </th>
      </tr>
      <tr>
        <th class="text-center">
          <div class="form-group">
            <%= f.text_field :taluka, class: "form-control" %>
          </div>
        </th>
        <th class="text-center">
          <div class="form-group">
            <%= f.text_field :village, class: "form-control" %>
          </div>
        </th>
        <th class="text-center">
          <div class="form-group">
            <%= f.collection_select :dealer_id, Dealer.all, :id, :name, {:include_blank => true}, {class: "form-control"} %>
          </div>
        </th>
        <th class="text-center">
          <div class="form-group">
          <%= f.collection_select :farmer_id, Farmer.all, :id, :name, {:include_blank => true}, {class: "form-control"} %>
            </div>
        </th>
        <th class="text-center">
          <div class="form-group">
            <%= f.collection_select :position_id, Position.all, :id, :fa_name, {:include_blank => true}, {class: "form-control"} %>
          </div>
        </th>
      </tr>
      </thead>
    </table>
    <%= link_to_remove_association "Remove", f, class: "btn btn-danger pull-right",:style=>'color:#FFFFFF'%>
  </div>
</table>
