<p id="notice"><%= notice %></p>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>
  </title>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
        rel="stylesheet">
</head>

<body>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading ">
      <h1 class="panel-title ">
        <b> Pockets</b>
      </h1>
        </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered">
            <tbody>
            <tr>
              <th class="text-center">
                Pocket
              </th>
              <th class="text-center">
                State
              </th>
              <th class="text-center">
                State Manager
              </th>
              <th class="text-center">
                Sales Representative
              </th>
              <td class="text-center">
                <%= link_to 'New Pocket', new_pocket_path, 'data-no-turbolink' => true, class: "btn btn-success",:style=>'color:#FFFFFF'%>
              </td>
            </tr>
            <tr>
              <% @pockets.each do |pocket| %>
              <td class="text-center">
                <%= pocket.pocket_name %>
              </td>
              <td class="text-center">
                <%= pocket.state.state %>
              </td>
              <td class="text-center">
                <%= pocket.user_id %>
              </td>
              <td class="text-center">
                <%= pocket.user_id %>
              </td>
              <td class="text-center">
                <%= link_to 'View Pocket', pocket, class: "btn btn-primary",:style=>'color:#FFFFFF' %>
              </td>
            </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </div>
</div>
</body>

</html>