<%@sr_activity.meet_state_managers.each do |state_man|%>
<p>
  <strong>Purpose:</strong>
  <%= state_man.purpose.humanize.titleize%>
</p>

    <%= render 'sr_activities/meet_state_manager_show/identify_fa_show' if state_man.purpose=='identify_field_assistant'%>
      <%= render 'sr_activities/meet_state_manager_show/identify_dealer_show' if state_man.purpose=='identify_dealer'%>
    <%= render 'sr_activities/meet_state_manager_show/identify_pocket_show' if state_man.purpose=='identify_pocket'%>
    <%= render 'sr_activities/meet_state_manager_show/other' if state_man.purpose=='other'%>
<%end%>

