<%= form_for(@sr_activity) do |f| %>
  <% if @sr_activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sr_activity.errors.count, "error") %> prohibited this sr_activity from being saved:</h2>

      <ul>
      <% @sr_activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :state_id %><br>
    <%= f.collection_select :state_id, State.all,:id, :state, {include_blank: ''},{id: 'sr_state'} %>
  </div>
  <div class="field">
  <%= f.label :manager_id, 'Area Manager' %><br>
    <%=f.grouped_collection_select :manager_id,State.all, :area_managers,:state, :id,:sur_name,{include_blank: ''},{id: 'manager'}%>
</div>

    <div class="field">
      <%= f.label :user_id, 'Sales Representative' %><br>
      <%=f.grouped_collection_select :user_id, User.all,:sales_rep,:sur_name, :id,:sur_name, {include_blank: ''},{id: 'sale_rep_act_rep'}%>
    </div>




  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date,"data-provide" => 'datepicker', data: {date_format: 'yyyy-mm-dd'} %>
  </div>
  <div class="field">
    <%= f.label :pactivity, 'Primary Activity' %><br>
    <%= f.select :pactivity, options_for_select([["Meet with State Manager", 'meet_state_manager'],["Meet with Dealer",'meet_dealer'],
                                                ["Meet with Field Assistant", 'Meet_fa'], ["Meet with Farmer", 'meet_farmer'],["C&F",'C&F'],
                                                ["Business Development", 'business_development'],["Other",'other']]), {include_blank: ''},{id: 'sr_pactivity'} %>
  </div>


    <div class="container" id="">
      <%=f.fields_for :meet_state_managers do |meet_sm|%>
      <%=render 'meet_state_manager_fields', f: meet_sm%>
          <%end%>
    </div>

    <div id="meet_state_managers">

    </div>


    <div class="container">
      <%=f.fields_for :meet_dealers do |meet_dealer|%>
          <%=render 'meet_dealer_fields', f: meet_dealer%>
      <%end%>
    </div>

    <div class="container">
      <%=f.fields_for :meet_fas do |meet_fa|%>
          <%=render 'meet_fa_fields', f: meet_fa%>
      <%end%>
    </div>

    <div class="container">
      <%=f.fields_for :meet_sr_farmers do |farmers|%>
          <%=render 'meet_sr_farmer_fields', f: farmers%>
      <%end%>
    </div>


  <div class="field" id="cf_option">
    <%= f.label :cf_option, 'C & F' %><br>
    <%= f.select :cf_option, options_for_select([["Billing",'billing'],["Inventory Check",'inventory_check'],["Deliveries",'deliveries']]),
                 {include_blank: ''}%>
  </div>

    <div class="container" id="business_deve_div">
    <%=f.fields_for :business_developments do |buss|%>
      <%=render 'business_development_fields', f: buss%>
          <%end%>
  </div>
  <div class="field" id="sr_other">
    <%= f.label :other %><br>
    <%= f.text_area :other%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
