<p id="notice"><%= notice %></p>

<h1>Listing Sr Activities</h1>

<table>
  <thead>
    <tr>
      <th>State</th>
      <th>User</th>
      <th>Date</th>
      <th>Pactivity</th>
      <th>Cf option</th>
      <th>Other</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sr_activities.each do |sr_activity| %>
      <tr>
        <td><%= sr_activity.state_id %></td>
        <td><%= sr_activity.user_id %></td>
        <td><%= sr_activity.date %></td>
        <td><%= sr_activity.pactivity %></td>
        <td><%= sr_activity.cf_option %></td>
        <td><%= sr_activity.other %></td>
        <td><%= link_to 'Show', sr_activity %></td>
        <td><%= link_to 'Edit', edit_sr_activity_path(sr_activity) %></td>
        <td><%= link_to 'Delete', sr_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sr activity', new_sr_activity_path %>
