<p>
  <strong>State:</strong>
  <%= @sr_activity.state.state %>
</p>

<p>
  <strong>Area Manager:</strong>
  <%= @sr_activity.user.manager.sur_name %>
</p>

<p>
  <strong>Area Manager:</strong>
  <%= @sr_activity.user.sur_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @sr_activity.date %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @sr_activity.pactivity.humanize.titleize %>
</p>





<%= render 'sr_activities/sr_acts_show/cf_show' if @sr_activity.pactivity=='C&F' %>
<%= render 'sr_activities/sr_acts_show/other' if @sr_activity.pactivity=='other' %>
<%= render 'sr_activities/meet_state_manager_show/statemanager_show' if @sr_activity.pactivity=='meet_state_manager' %>
<%= render 'sr_activities/meet_dealer_show/purpose_show' if @sr_activity.pactivity=='meet_dealer' %>
<%= render 'sr_activities/meet_fa_show/fa_purpose_show' if @sr_activity.pactivity=='Meet_field_assistant'%>
<%= render 'sr_activities/meet_farmer_show/purpose' if @sr_activity.pactivity=='meet_farmer'%>
<%= render 'sr_activities/buss_dev_show/option_show' if @sr_activity.pactivity=='business_development'%>


<%= link_to 'Edit', edit_sr_activity_path(@sr_activity) %> |
<%= link_to 'Back', root_path %>
