<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @sr_activity.state_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @sr_activity.user_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @sr_activity.date %>
</p>

<p>
  <strong>Pactivity:</strong>
  <%= @sr_activity.pactivity %>
</p>

<p>
  <strong>Meet state manager option:</strong>
  <%= @sr_activity.meet_state_manager_option %>
</p>

<p>
  <strong>Pocket:</strong>
  <%= @sr_activity.pocket_id %>
</p>

<p>
  <strong>Dealer:</strong>
  <%= @sr_activity.dealer_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @sr_activity.position_id %>
</p>

<p>
  <strong>Meet sm other:</strong>
  <%= @sr_activity.meet_sm_other %>
</p>

<p>
  <strong>Meet dealer option:</strong>
  <%= @sr_activity.meet_dealer_option %>
</p>

<p>
  <strong>Meet dealer other:</strong>
  <%= @sr_activity.meet_dealer_other %>
</p>

<p>
  <strong>Meet fa option:</strong>
  <%= @sr_activity.meet_fa_option %>
</p>

<p>
  <strong>Meet farmer option:</strong>
  <%= @sr_activity.meet_farmer_option %>
</p>

<p>
  <strong>Farmer:</strong>
  <%= @sr_activity.farmer_id %>
</p>

<p>
  <strong>Crop:</strong>
  <%= @sr_activity.crop_id %>
</p>

<p>
  <strong>Crop growth stage:</strong>
  <%= @sr_activity.crop_growth_stage %>
</p>

<p>
  <strong>Farmer recommendation:</strong>
  <%= @sr_activity.farmer_recommendation %>
</p>

<p>
  <strong>Cf option:</strong>
  <%= @sr_activity.cf_option %>
</p>


<p>
  <strong>Other:</strong>
  <%= @sr_activity.other %>
</p>

<%= link_to 'Edit', edit_sr_activity_path(@sr_activity) %> |
<%= link_to 'Back', sr_activities_path %>
