<p id="notice"><%= notice %></p>

<h1>Listing Applications</h1>

<table>
  <thead>
    <tr>
      <th>Pre demonstration</th>
      <th>App area</th>
      <th>App date</th>
      <th>Competitor</th>
      <th>App type</th>
      <th>Follow date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td><%= application.pre_demonstration_id %></td>
        <td><%= application.app_area %></td>
        <td><%= application.app_date %></td>
        <td><%= application.competitor %></td>
        <td><%= application.app_type %></td>
        <td><%= application.follow_date %></td>
        <td><%= link_to 'Show', application %></td>
        <td><%= link_to 'Edit', edit_application_path(application) %></td>
        <td><%= link_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Application', new_application_path %>
