<p id="notice"><%= notice %></p>

<h1>Listing Meet State Managers</h1>

<table>
  <thead>
    <tr>
      <th>Pocket</th>
      <th>Dealer</th>
      <th>Position</th>
      <th>Purpose</th>
      <th>Other</th>
      <th>Sr activity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meet_state_managers.each do |meet_state_manager| %>
      <tr>
        <td><%= meet_state_manager.pocket_id %></td>
        <td><%= meet_state_manager.dealer_id %></td>
        <td><%= meet_state_manager.position_id %></td>
        <td><%= meet_state_manager.purpose %></td>
        <td><%= meet_state_manager.other %></td>
        <td><%= meet_state_manager.sr_activity_id %></td>
        <td><%= link_to 'Show', meet_state_manager %></td>
        <td><%= link_to 'Edit', edit_meet_state_manager_path(meet_state_manager) %></td>
        <td><%= link_to 'Destroy', meet_state_manager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meet state manager', new_meet_state_manager_path %>
