<p id="notice"><%= notice %></p>

<h1>Listing Assist Reps</h1>

<table>
  <thead>
    <tr>
      <th>Fa activity</th>
      <th>Assist</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assist_reps.each do |assist_rep| %>
      <tr>
        <td><%= assist_rep.fa_activity_id %></td>
        <td><%= assist_rep.assist %></td>
        <td><%= assist_rep.comment %></td>
        <td><%= link_to 'Show', assist_rep %></td>
        <td><%= link_to 'Edit', edit_assist_rep_path(assist_rep) %></td>
        <td><%= link_to 'Destroy', assist_rep, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assist rep', new_assist_rep_path %>
