<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <body>
    <div class="container">
      <div class="panel panel-primary">
        <div class="panel-heading text-center">
          <h1 class="panel-title text-center">
            <b>Update User</b>
          </h1>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading text-center">
                  <b>User Information</b>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <%=f.label :first_name%>
                        <%=f.text_field :first_name, class: 'form-control'%>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <%=f.label :sur_name, 'Surname'%>
                        <%=f.text_field :sur_name, class: 'form-control'%>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <%=f.label :phone, 'Contact Number'%>
                        <%=f.text_field :phone, class: 'form-control'%>
                      </div>
                    </div>



                    <div class="col-md-6">
                      <div class="form-group">
                        <%=f.label :location%>
                        <%=f.select :location, options_for_select([["Home Office",'home_office'],["Field Staff",'field_staff']]),{:include_blank => ''}, class: 'form-control'%>
                      </div>
                    </div>
                  </div>

                  <div id="role_select">
                  <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <%=f.label :state_id%>
                          <%=f.collection_select :state_id, State.all, :id, :state, {include_blank: ''}, {class: 'form-control'}%>



                          <%=f.hidden_field :user_name, class: 'form-control'%>
                      </div>
                    </div>


                      <div class="col-md-6">
                        <div class="form-group" id="mana_tan">
                            <%=f.label :manager_id, 'Assign Area Manager'%>
                           <%=f.collection_select :manager_id, User.where(role: 'area_manager'), :id,:sur_name,{include_blank: ''},{class: 'form-control'}%>
                    </div>
                      </div>
                  </div>


                  <div class="row" >
                    <div class="form-group">
                      <div class="col-md-6">
                        <div class="form-group">
                          <%=f.label :role, 'Position'%>
                          <%=f.select :role, options_for_select([["Sales Representative", 'sale_representative'],["Area Manager",'area_manager'],["State_Manager",'state_manager']]),
                                      {:include_blank => ''},
                                      class: 'form-control', id: 'kaman'%>

                        </div>
                      </div>
                    </div>
                  </div>
                  </div>






                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label :email %><br />
                        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>





            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading text-center">
                  <b>User Permission</b>
                </div>
                <div class="panel-body">
                  <div class="form-group">
                    <div class="col-md-4">
                      <div class="row">
                        <%=f.label :approved, 'Approve Account'%>
                        <%=f.radio_button :approved, true, :checked => @user.approved, :value=> true%>


                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-md-4">
                        <%=f.label :approved, 'Deny Account'%>
                        <%=f.radio_button :approved, false, :checked => !@user.approved, :value=> false%>
                      </div>
                    </div>
                  </div>

                  <br>
                  <div class="form-group">
                    <div class="col-md-4">
                      <div class="row">
                        <%=f.label :access, 'Input Access'%>
                        <%=f.radio_button :access, true, :checked => @user.access, :value=> true%>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-md-4">
                        <%=f.label :access, 'Read Access'%>
                        <%=f.radio_button :access, false, :checked => @user.access, :value=> false%>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>


          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <div class="col-md-4">
              </div>

            <div class="col-md-4"></div>
            <div class="col-md-4">
              <div class="col-md-4">
                </div>
            <div class="actions" id="user_sub">
              <%= f.submit "Submit", class: "btn btn-primary pull-right"%>
            </div>
              </div>
          </div>
        </div>

      </div>
    </div>
    </body>
<% end %>
