<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <div class="form-group">
        <%=f.label :first_name%>
        <%=f.text_field :first_name, class: 'form-control'%>
      </div>
    </div>

    <div class="field">
      <div class="form-group">
        <%=f.label :sur_name%>
        <%=f.text_field :sur_name, class: 'form-control'%>
      </div>
    </div>


    <div class="field">
      <div class="form-group">
        <%=f.label :phone%>
        <%=f.text_field :phone, class: 'form-control'%>
      </div>
    </div>

    <div class="field">
      <div class="form-group" >
        <%=f.label :location%>
        <%=f.select :location, options_for_select([["Home Office",'home_office'],["Field Staff",'field_staff']]),{:include_blank => ''}, class: 'form-control'%>
      </div>
    </div>

    <div class="field" id="role_select">
      <div class="form-group">
        <div class="field">
          <div class="form-group">
            <%=f.label :state_id%>
            <%=f.collection_select :state_id, State.all, :id, :state%>
          </div>
        </div>

        <%=f.label :role, 'Position'%>
        <%=f.select :role, options_for_select([["Sales Representative", 'sale_representative'],["Area Manager",'area_manager'],["State_Manager",'state_manager']]),
                    {:include_blank => ''},
                    class: 'form-control'%>

      </div>
    </div>
    <div class="field">
      <div class="form-group">

        <%=f.hidden_field :user_name, class: 'form-control'%>
      </div>
    </div>


    <div class="field">
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>
    </div>


    <div>
      <div>
        <%=f.label :approved, 'Deny Account'%>
        <%=f.radio_button :approved, false, :checked => !@user.approved, :value=> false%>
      </div>

      <div>
        <%=f.label :approved, 'Approve Account'%>
        <%=f.radio_button :approved, true, :checked => @user.approved, :value=> true%>
      </div>
    </div>

    <br>

    <div>
      <div>
        <%=f.label :access, 'Read Access'%>
        <%=f.radio_button :access, false, :checked => @user.access, :value=> false%>
      </div>

      <div>
        <%=f.label :access, 'Input Access'%>
        <%=f.radio_button :access, true, :checked => @user.access, :value=> true%>
      </div>
    </div>





    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
