

<%=will_paginate%>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>
  </title>
</head>

<body>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading ">
      <h1 class="panel-title ">
        <b> Users</b>
      </h1>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered">
            <tbody>
            <tr>
              <th class="text-center">
                Field Staff
              </th>
              <th class="text-center">
                Username
              </th>
              <th class="text-center">
                Email
              </th>
              <th class="text-center">
                Role
              </th>
              <th class="text-center">
                Access
              </th>
              <th class="text-center">
                Active
              </th>

            </tr>
            <tr>
              <% @users.each do |user| %>
                  <td class="text-center">
                    <%= user.fullname %>
                  </td>
                  <td class="text-center">
                    <%= user.user_name %>
                  </td>
                  <td class="text-center">
                    <%= user.email %>
                  </td>
                  <td class="text-center">
                    <%= user.role.to_s.humanize.titleize %>
                  </td>
                  <td class="text-center">
                    <%= user.access ? 'Input' : 'Read' %>
                  </td>
                  <td class="text-center">
                    <%= user.approved ? 'Yes' : 'No' %>
                  </td>
                  <td class="text-center">
                    <%= link_to 'View User', user, class: "btn btn-primary",:style=>'color:#FFFFFF' %>
                  </td>
                  <td class="text-center">
                    <%= link_to 'Edit', edit_user_path(user),class: "btn btn-info",:style=>'color:#FFFFFF' %>
                  </td>
                  <td>
                    <%= link_to 'Delete', user, class: "btn btn-danger",:style=>'color:#FFFFFF', method: :delete, data: { confirm: 'Are you sure?' } %>
                  </td>

                  </tr>
              <% end %>
              </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </div>
</div>
</body>

</html>

<%=will_paginate%>

