<%= form_for(@prodsample) do |f| %>
  <% if @prodsample.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prodsample.errors.count, "error") %> prohibited this prodsample from being saved:</h2>

      <ul>
      <% @prodsample.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <%= link_to 'Back', farmers_path, class: "btn btn-success pull-left",:style=>'color:#FFFFFF' %>
              <%= link_to 'Cancel', root_path, class: "btn btn-danger pull-right",:style=>'color:#FFFFFF' %>
              <h1 class="panel-title text-center">
                <b> Request Product Sample</b>
              </h1>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <div class="panel-title">
                        <b>Geographic Information</b>
                      </div>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <%= f.label :State %><br>
                            <%= f.collection_select :state_id, State.all, :id, :state, {:include_blank => true}, {class: "form-control"} %>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <%= f.label :position_id, 'Select Field Staff' %><br>
                            <%= f.collection_select :position_id, Position.all, :id, :fullname, {:include_blank => true}, {class: "form-control"} %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <div class="panel-title">
                        <b>Sample Information</b>
                      </div>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <div>
                              <div class="field">
                                <%= f.label :sample_purp, 'Select Sample Purpose' %><br>
                                <%= f.select :sample_purp, [['Active Field Demonstration'],['Dealer Introduction'],['Farmer Meeting'],['Organize Dealer Meeting'],['Complimentary']], {:include_blank => true}, {class: "form-control"}   %>
                              </div>
                              <div class="field" id="active_demo">
                                <%= f.label :demo_id, 'Select Active Demo' %><br>
                                <%= f.collection_select :demo_id, PreDemonstration.all, :id, :demo_code, {:include_blank => true}, {class: "form-control"} %>
                              </div>
                            </div>
                          </div>
                        </div>
                        <table class="table table-bordered">
                          <tbody>
                          </tbody>
                          <thead>
                            <tr>
                              <th class="text-center">
                                Product
                              </th>
                              <th class="text-center">
                                Single
                              </th>
                              <th class="text-center">
                                Box
                              </th>
                            </tr>
                            <tr>
                              <th class="text-center">
                                <div class="form-group">
                                  <%= f.collection_select :product_id, Product.all, :id,:name, {:include_blank => true}, {class: "form-control"} %>
                                </div>
                              </th>
                              <th class="text-center">
                                <div class="form-group">
                                  <%= f.collection_select :single_id, Single.all, :id, :name, {:include_blank => true}, {class: "form-control"}%>
                                </div>
                              </th>
                              <th class="text-center">
                                <div class="form-group">
                                  <%= f.collection_select :box_id, Box.all, :id, :name, {:include_blank => true}, {class: "form-control"}%>
                                </div>
                              </th>
                              </tr>
                          </thead>
                        </table>
                          <div class="col-md-6">
                            <div class="form-group">
                              <div>
                                <!--<%= f.label :ps_id, 'Product Sample Code'%> -->
                                <!-- <%= f.text_field :ps_id,:disabled => true, class: "form-control" %> -->
                              </div>
                            </div>
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                  </div>
                  <div class="col-md-4">
                  </div>
                  <div class="col-md-4 text-right">
                    <div class="actions">
                      <%= f.submit "Submit", class: "btn btn-primary pull-right", id:"sub_stuff"%>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
<% end %>
