<%= form_for(@box) do |f| %>
  <% if @box.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@box.errors.count, "error") %> prohibited this box from being saved:</h2>

      <ul>
      <% @box.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
      <div class="col-md-4">

      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h1 class="panel-title text-center">
              <%= link_to 'Back', boxes_path, class: "btn btn-success pull-left",:style=>'color:#FFFFFF' %>
              <%= link_to 'Cancel', root_path, class: "btn btn-danger pull-right",:style=>'color:#FFFFFF' %>
              <b>New Box</b>
            </h1>
          </div>
          <div class="panel-body">
            <div class="field">
              <%= f.label :name, "Box Name" %><br>
              <%= f.text_field :name,{class: "form-control"} %>
            </div>
            <div class="actions">
              <%= f.submit "Submit", class: "btn btn-primary pull-right"%>
            </div>
<% end %>
</div>
</div>
</div>
<div class="col-md-4">

</div>
</div>

