<%= form_for @demoresult, url: demoresults_path, :html => { :multipart => true } do |f| %>
  <% if @demoresult.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@demoresult.errors.count, "error") %> prohibited this demoresult from being saved:</h2>

      <ul>
      <% @demoresult.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <%= link_to 'Back', demoresults_path, class: "btn btn-success pull-left",:style=>'color:#FFFFFF' %>
              <%= link_to 'Cancel', root_path, class: "btn btn-danger pull-right",:style=>'color:#FFFFFF' %>
              <h1 class="panel-title text-center">
                <b>New Demo Results</b>
              </h1>
            </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    <b>Geographic Information</b>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label :State %><br>
                        <%= f.collection_select :state_id, State.all, :id, :state, {:include_blank => true}, {class: "form-control"} %>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label 'Select Area Manager' %><br>
                        <%= f.collection_select :manager_id, User.all, :id, :fullname, {:include_blank => true}, {class: "form-control"} %>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label 'Select Sales Rep' %><br>
                        <%= f.collection_select :user_id, User.all, :id, :fullname, {:include_blank => true}, {class: "form-control"} %>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label 'Select FA' %><br>
                        <%= f.collection_select :position_id, Position.all, :id, :fullname, {:include_blank => true}, {class: "form-control"} %>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label 'Select Pocket' %><br>
                        <%= f.collection_select :pocket_id, Pocket.all, :id, :pocket_name, {:include_blank => true}, {class: "form-control"} %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    <b>Demo Information</b>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="form-group">
                        <div>
                          <%= f.label 'Select Demo Status' %><br>
                          <%= f.radio_button(:demostatus, "Active Demonstration") %>
                          <%= label_tag(:demostatus, 'Active Demonstration') %> <br>
                          <%= f.radio_button(:demostatus, "Completed Demonstration") %>
                          <%= label_tag(:demostatus, 'Completed Demonstration') %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label 'Select Demo' %><br>
                        <%= f.collection_select :demo_id, Demonstration.all, :id, :demo_code, {:include_blank => true}, {class: "form-control"} %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <div class="panel-title">
                        <b>Photos</b>
                      </div>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                              <%= link_to_add_association "Add Photo", f, :resultphotos ,class: "btn btn-info pull-left",:style=>'color:#FFFFFF'%>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
          <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4 text-right">
              <div class="actions">
                <%= f.submit "Submit", class: "btn btn-primary pull-right", id:"sub_stuff"%>
              </div>
            </div>
          </div>
    </div>
    </div>
    </div>
<% end %>
