<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading text-center">
      <h1 class="panel-title text-center">
        <b> Demo Result Information</b>
      </h1>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <b>Geographic Information</b>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <strong>Area Manager:</strong>
                    <%= @demoresult.amid %>
                  </div>
                  <div>
                    <strong>Sales Representative:</strong>
                    <%= @demoresult.srid %>
                  </div>
                  <br>
                  <div>
                    <strong>Field Agent:</strong>
                    <%= @demoresult.faid %>
                  </div>
                  <br>
                  <div>
                    <strong>Pocket:</strong>
                    <%= @demoresult.pocketid %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <b>Demo Information</b>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <strong>Demo Status:</strong>
                    <%= @demoresult.demostatus %>
                  </div>
                  <div>
                    <strong>Demo result photos:</strong><br>
                    <% @demoresult.resultphotos.each do |resultphoto| %>
                        <br><%=link_to image_tag(resultphoto.photo.url(:thumb)), resultphoto.photo.url(:original), :popup=>['original_image', 'height=700,width=900'], :target=> '_blank' %><br><br>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="field">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="actions">
            <%= link_to "Edit", edit_demoresult_path(@demoresult), class: "btn btn-primary pull-right"%>
          </div>
        </div>
        <div class="col-md-6">
          <div class="actions">
            <%= link_to "Cancel", :back, {:class => "btn btn-primary"}%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
