<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading text-center">
      <h1 class="panel-title text-center">
        <b> Demo Result Information</b>
      </h1>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <b>Geographic Information</b>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <div>
                      <strong>State:</strong>
                      <%= @demoresult.state.state %>
                    </div>
                    <div>
                    <strong>Area Manager:</strong>
                    <%= @demoresult.user.fullname %>
                  </div>
                  <div>
                    <strong>Sales Representative:</strong>
                    <%= @demoresult.user.fullname %>
                  </div>
                  <br>
                  <div>
                    <strong>Field Agent:</strong>
                    <%= @demoresult.position.fullname %>
                  </div>
                  <br>
                  <div>
                    <strong>Pocket:</strong>
                    <%= @demoresult.pocket.pocket_name %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>

        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <b>Demo Information</b>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <strong>Demo Status:</strong>
                    <%= @demoresult.demostatus %>
                  </div>
                  <div>
                    <strong>Demo result photos:</strong><br>
                    <% @demoresult.resultphotos.each do |resultphoto| %>
                            <%=link_to (image_tag(resultphoto.avatar_url(:thumb))).to_s, resultphoto.avatar_url%>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="field">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="actions">
            <%= link_to "Edit", edit_demoresult_path(@demoresult), class: "btn btn-primary pull-right"%>
          </div>
        </div>
        <div class="col-md-6">
          <div class="actions">
            <%= link_to "Cancel", :back, {:class => "btn btn-primary", style: "color: #FFFFFF"}%>
          </div>
        </div>
      </div>

  </div>
</div>
</div>
</div>
