
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered">
              <tbody>

              <tr>
                <th class="text-center">

                  <%=f.label :application_by, 'Application Done By' %>
                </th>
                <th class="text-center">
                  <%=f.label :app_date, 'Application Date'%>
                </th>
                <th class="text-center">
                  <label>
                    <input type="checkbox" name="change_app" value="app_date">
                    Application Date Change Reason
                  </label>

                </th>
                <th class="text-center">
                  <%=f.label :follow_date, 'Follow Up Date'%>
                </th>
                <th class="text-center">
                  <label>
                    <input type="checkbox" name="change_app" value="app_date">
                    Follow Up  Date Change Reason
                  </label>

                </th>

              </tr>
              <tr>

                    <td class="text-center">
                      <%=f.select :application_by, options_for_select([["Self",'self'],["Farmer in presence of FA",'Farmer in presence of FA'],
                                                                       ["Farmer in absence of FA",'Farmer in absence of FA']]),{},{class: 'form-control'}%>
                    </td>


                    <td class="text-center">
                      <%= f.text_field :app_date, id: 'app_date',"data-provide" => 'datepicker', data: {date_format: 'yyyy-mm-dd'}, class: 'form-control'%>
                    </td>
                    <td class="text-center">
                      <%=f.text_area :app_comment, class: 'form-control'%>
                    </td>
                    <td class="text-center">
                      <%= f.text_field :follow_date,id: 'follow_date',"data-provide" => 'datepicker', data: {date_format: 'yyyy-mm-dd'}, class: 'form-control'%>
                    </td>
                    <td class="text-center">
                      <%=f.text_area :follow_comment, class: 'form-control'%>
                    </td>
                    </tr>
                </tbody>


</table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
