
<%= form_for @demonstration, :html =>{:multipart => true} do |f| %>
    <% if @demonstration.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@demonstration.errors.count, "error") %> prohibited this demonstration from being saved:</h2>

          <ul>
            <% @demonstration.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field" id="hide_pre_demo">
      <%=f.label :pre_demonstration_id%>
      <%=f.text_field :pre_demonstration_id, value: @pre_demonstration.id%>
    </div>




    <div class="field">

      <%=f.fields_for :applications do |application| %>
          <div class="field">
            <%=render 'application_fields', f: application%>
          </div>
      <%end%>
    </div>



    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title text-center">
              <b>Pre-Demonstration Photos</b>
            </h3>
            <div>

              <%=f.check_box :demo_status, {}, 'complete', 'active'%>
              <%=f.label :demo_status, 'Complete'%>
            </div>

          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4">
                  </div>
                  <div class="col-md-4 text-center">
                    <%= link_to_add_association 'Add Image', f, :demonstration_attachments,class: "btn btn-info",:style=>'color:#FFFFFF'%>
                  </div>
                  <div class="col-md-4">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <div>
      <%=f.hidden_field :demo_code, value: @pre_demonstration.demo_code %>
    </div>


    <%=f.text_field :position_id, value: @pre_demonstration.fa_activity.position.id, id: 'hide_pos_id'%>


    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
