<%= form_for @demonstration, :html =>{:multipart => true} do |f| %>
  <% if @demonstration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@demonstration.errors.count, "error") %> prohibited this demonstration from being saved:</h2>

      <ul>
      <% @demonstration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%=f.label :pre_demonstration_id%>
      <%=f.text_field :pre_demonstration_id, value: @pre_demonstration.id%>
    </div>


    <div class="field">
      <%=f.label :appdone_by%>
      <%=f.select :appdone_by, options_for_select([["Self",'self'],["Farmer in presence of FA",'Farmer in presence of FA'],
                                                                    ["Farmer in absence of FA",'Farmer in absence of FA']])%>
    </div>



    <div class="field">
      <%=f.fields_for :applications do |application| %>
          <div class="field">
            <%=render 'application_fields', f: application%>
          </div>

      <%end%>
    </div>


    <div>
      <%=f.file_field :image%>
    </div>

    <div>
      <%=f.hidden_field :demo_code, value: @pre_demonstration.demo_code %>
    </div>


        <%=f.text_field :position_id, value: @pre_demonstration.fa_activity.position.id%>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
