<div class="nested-fields">

<div class="field">
  <%= f.label :app_area, 'Area of application' %><br>
  <%= f.text_field :app_area %>
</div>
<div class="field">
  <%= f.label :app_date, 'Application Date' %><br>
  <%= f.text_field :app_date,"data-provide" => 'datepicker', data: {date_format: 'yyyy-mm-dd'} %>
</div>



  <div>
    <%=f.fields_for :product_applications do |prod|%>
        <%=render 'product_application_fields', f: prod%>
    <%end%>
    <div class="links">
      <%=link_to_add_association 'Add Product ', f, :product_applications, class: 'btn btn-info'%>
    </div>
  </div>




<div class="field">
  <%= f.label :app_type, 'Application Type' %><br>
  <%= f.select :app_type, options_for_select([["Foliar", 'foliar'],["Soil",'soil'],["Drip",'drip'],["Flood",'flood']]),{include_blank: ''} %>
</div>

<div class="field">
  <%= f.label :competitor, 'Competitors product' %><br>
  <%= f.text_field :competitor %>
</div>

<div class="field">
  <%= f.label :follow_date, 'Follow up Date' %><br>
  <%= f.text_field :follow_date,"data-provide" => 'datepicker', data: {date_format: 'yyyy-mm-dd'} %>
</div>

<%=link_to_remove_association 'Remove Product Application', f %>
</div>