<div class="field">
  <%= f.hidden_field :fa_activity_id %>
</div>
<div class="field">
  <%= f.label :assist %><br>
  <%= f.select :assist, options_for_select([["Payment cheque collection",'pay_collect'],["Product delivery",'product_delivery'],
                                            ["Delivery confirmation",'delivery_confirmation'],["Collect Farmer Information ",'coll_farm_info'],["Other",'other']]),
                                            {include_blank: ''}%>
</div>
<div class="field" id="assist_comment">
  <%= f.label :comment %><br>
  <%= f.text_area :comment %>
</div>