<div class="field">
  <%= f.label :dealer_id %><br>
  <%= f.number_field :dealer_id %>
</div>
<div class="field">
  <%= f.hidden_field :fa_activity_id %>
</div>

<div class="field">
  <%= f.label :purpose %><br>
  <%= f.select :purpose, options_for_select([["Inventory Check", 'inventory_check'],["Interact With Farmers", 'interact_farmers'],
                                                ["Collect Competitor Product Information",'competitor_product']]), {include_blank: ''} %>
</div>

<div class="container" id="interact-farm">
  <div class="field">
    <%= f.label :farmer_id %><br>
    <%= f.number_field :farmer_id %>
  </div>
  <div class="field">
    <%= f.label :number_farmer %><br>
    <%= f.number_field :number_farmer %>
  </div>
</div>

<div class="container", id="inventory_checker">
  inventory check place holder
</div>