<div class="field">
  <%= f.label :dealer_id %><br>
  <%= f.number_field :dealer_id,{class:"form-control",:style => "width:200px"} %>
</div>
<div class="field">
  <%= f.hidden_field :fa_activity_id %>
</div>

<div class="field">
  <%= f.label :purpose %><br>
  <%= f.select :purpose, options_for_select([["Inventory Check", 'inventory_check'],["Interact With Farmers", 'interact_farmers'],
                                                ["Collect Competitor Product Information",'competitor_product']]), {include_blank: ''},{class:"form-control", :style => "width:275px"} %>
</div>

<div class="container" id="interact-farm">

  <div class="field">
    <%= f.label :number_farmer %><br>
    <%= f.number_field :number_farmer %>
  </div>
</div>

<div class="container", id="inventory_checker">
  <div>
    <%= f.fields_for :inventories do |product|%>
        <%=render 'inventory_fields', f: product%>
    <%end%>
    <div class="links">
      <%=link_to_add_association 'Add Product', f, :inventories %>
    </div>
  </div>

</div>