<%= form_for(@fa_activity) do |f| %>
    <% if @fa_activity.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@fa_activity.errors.count, "error") %> prohibited this fa_activity from being saved:</h2>

          <ul>
            <% @fa_activity.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="container">
      <div class="panel panel-primary">
        <div class="panel-heading text-center">
          <h1 class="panel-title text-center">
            <%= link_to 'Back', fa_activities_path, class: "btn btn-success pull-left",:style=>'color:#FFFFFF' %>
            <%= link_to 'Cancel', root_path, class: "btn btn-danger pull-right",:style=>'color:#FFFFFF' %>
            <b>Create new FA Activity</b>
          </h1>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading text-center">
                  <b>Field Assistant Activity Details</b>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="form-group">
                        <%= f.label :State %><br>
                        <%= f.collection_select :state_id, State.all, :id, :state, {:include_blank => true}, {class: "form-control"} %>
                      </div>
                    </div>
                    <div class="row"></div>
                    <div class="col-md-8">
                      <div class="form-group">
                        <label>
                          Area Manager
                        </label>
                        <%=f.grouped_collection_select :manager_id,State.all, :area_managers,:state, :id,:sur_name,{include_blank: ''},{id: 'manager', class:"form-control"}%>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                      <div class="form-group">
                        <label>
                          Sales Representative&nbsp;
                        </label>
                        <%=f.grouped_collection_select :user_id, User.all,:sales_rep,:sur_name, :id,:sur_name, {include_blank: ''},{id: 'sale_rep_act_rep', class:"form-control"}%>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-8">
                      <div class="form-group">
                        <label>
                          Pocket
                        </label>
                        <%=f.grouped_collection_select :pocket_id, User.all,:pockets,:sur_name, :id,:pocket_name, {include_blank: ''},{id: 'pocket_mon', class:"form-control"}%>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-8">
                      <div class="form-group">
                        <label>
                          Field Assistant
                        </label>
                        <%= f.grouped_collection_select :position_id, Pocket.all,:pock_finder,:pocket_name, :id, :surname,{include_blank: ''}, {:id => 'field_assist', class:"form-control"}%>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-8">
                      <div class="form-group">
                        <label>
                          Date
                        </label>
                        <%= f.date_field :date,{class:"form-control"} %>
                    </div>
                  </div>
                    </div>

                </div>
              </div>
            </div>


            <div class="col-md-8">
              <div class="panel panel-default">
                <div class="panel-heading text-center">
                  <b>Activity Selection Details</b>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="field">
                        <%= f.label :activity %><br>
                        <%= f.select :activity, options_for_select([["Meet Farmer(s)", 'meet_farmers'], ["Visit Dealer Shop", 'Visit_dealer'], ["Assist Sales Representative", 'assist_sr'],
                                                                    ["Met Sales Representative", 'meet_sr'], ["Other", 'misc']]),
                                     {include_blank: ''},{class:"form-control", :style => "width:200px"}%>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                    <div class="form-group">
                      <div id="meet_farm_sele", class="container">
                        <%= f.fields_for :meet_farmers do |meet|%>
                            <%=render 'meet_farmer_fields', f: meet%>
                        <%end%>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="row">
                      <div class="form-group">
                        <div class="container", id="demo_meeting">
                          <%=f.fields_for :pre_demonstrations do |predemo|%>
                              <%= render 'pre_demonstration_fields', f: predemo%>
                          <%end%>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="row">
                      <div class="form-group">
                        <div class="container", id="post_demo_meeting">
                          <%=f.fields_for :post_demonstrations do |postdemo|%>
                              <%= render 'post_demonstration_fields', f: postdemo%>
                          <%end%>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="row">
                      <div class="form-group">
                        <div id="container", class="dealer_shop">
                          <%= f.fields_for :dealer_visits do |deal|%>
                              <%=render 'dealer_visit_fields', f: deal%>
                          <%end%>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="row"></div>
                      <div class="form-group">
                        <div class="container", id="assist_mvc">
                          <%=f.fields_for :assist_reps do |assist|%>
                              <%=render 'assist_rep_fields', f: assist%>
                          <%end%>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="row">
                      <div class="form-group">
                        <div class="field", id="act_comment">
                          <%= f.label :comment %><br>
                          <%= f.text_area :comment %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              </div>

            </div>
          </div>
          <div class="col-md-6">
            <div class="actions">
              <%= f.submit "Submit", class: "btn btn-primary pull-right"%>
            </div>
          </div>
          </div>
        </div>
      </div>


<% end %>


