<%= form_for(@fa_activity) do |f| %>
  <% if @fa_activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fa_activity.errors.count, "error") %> prohibited this fa_activity from being saved:</h2>

      <ul>
      <% @fa_activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :field_assistant_id %><br>
    <%= f.number_field :field_assistant_id %>
  </div>
  <div class="field">
    <%= f.label :state_id %><br>
    <%= f.number_field :state_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :pocket_id %><br>
    <%= f.number_field :pocket_id %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </div>

    <div class="field">
      <%= f.label :activity %><br>
      <%= f.select :activity, options_for_select([["Meet Farmer(s)", 'meet_farmers'], ["Visit Dealer Shop", 'visit_dealer'], ["Assist Sales Representative", 'assist_sr'],
                                                  ["Met Sales Representative", 'meet_sr'], ["Other", 'misc']]),
                   {include_blank: ''}%>
    </div>

    <div>
      <div id="meet_farm_sele", class="container">
      <%= f.fields_for :meet_farmers do |meet|%>
          <%=render 'meet_farmer_fields', f: meet%>
      <%end%>

        <div class="container", id="demo_meeting">
          <%=f.fields_for :pre_demonstrations do |predemo|%>
              <%= render 'pre_demonstration_fields', f: predemo%>
          <%end%>
        </div>

      </div>
    </div>

    <div id="dealer_shop", class="container">
      <%= f.fields_for :dealer_visits do |deal|%>
          <%=render 'dealer_visit_fields', f: deal%>
          <%end%>
    </div>

    <div class="container", id="assist_mvc">
      <%=f.fields_for :assist_reps do |assist|%>
      <%=render 'assist_rep_fields', f: assist%>
          <%end%>
    </div>




  <div class="field", id="act_comment">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
