<%= form_for(@fa_activity) do |f| %>
  <% if @fa_activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fa_activity.errors.count, "error") %> prohibited this fa_activity from being saved:</h2>

      <ul>
      <% @fa_activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :field_assistant_id %><br>
    <%= f.number_field :field_assistant_id %>
  </div>
  <div class="field">
    <%= f.label :state_id %><br>
    <%= f.number_field :state_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :pocket_id %><br>
    <%= f.number_field :pocket_id %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </div>

    <div class="field">
      <%= f.label :activity %><br>
      <%= f.select :activity, options_for_select([["Meet Farmer(s)", 'meet_farmers'], ["Visit Dealer Shop", 'visit_dealer'], ["Assist Sales Representative", 'assist_sr'],
                                                  ["Met Sales Representative", 'meet_sr'], ["Other", 'misc']]),
                   {include_blank: ''}%>
    </div>

    <div>
      <div id="meet_farm_sele", class="container">

      <%= f.fields_for :meet_farmers do |meet|%>
            <div class="field">
              <%= meet.label :farmer_id %><br>
              <%= meet.number_field :farmer_id %>
            </div>
            <div class="field">
              <%= meet.label :purpose %><br>
              <%= meet.select :purpose, options_for_select([["Introduction", 'introduction'], ["Product Prescription", 'product_prescription'], ["Consultation/Guidance", 'consultation']]),
                           {include_blank: ''}%>
            </div>
            <div class="field", id="meet_farmer_consultation_div">
              <%= meet.label :consultation %><br>
              <%= meet.select :consultation, options_for_select([["Soil", 'soil'], ["Growth", 'growth'], ["Yield", 'yield'], ["Infestation", 'infestation'],
                                                              ["Irrigation", 'irrigation'],["Product Usage", 'product_use']]),
                           {include_blank: ''}%>
            </div>
            <div class="field">
              <%= meet.label :product_prescription_id %><br>
              <%= meet.number_field :product_prescription_id %>
            </div>


      <%end%>
      </div>
    </div>

  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
