<%= form_for(@fa_activity) do |f| %>
  <% if @fa_activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fa_activity.errors.count, "error") %> prohibited this fa_activity from being saved:</h2>

      <ul>
      <% @fa_activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="container">
      <div class="panel panel-primary">
        <div class="panel-heading text-center">
          <h1 class="panel-title text-center">
            <%= link_to 'Back', fa_activities_path, class: "btn btn-success pull-left",:style=>'color:#FFFFFF' %>
            <%= link_to 'Cancel', root_path, class: "btn btn-danger pull-right",:style=>'color:#FFFFFF' %>
            <b>Field Assistant Activities</b>
          </h1>
        </div>
        <div class="panel-body">
        <label class="required">
        Required Fields: 
        </label>
          <div class="row">
            <div class="col-md-5">
              <div class="panel panel-default">
                <div class="panel-heading text-center">
                  <b>Field Assistant Information</b>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label :state_id, class: "required" %><br>
                        <%= f.collection_select :state_id, State.all, :id, :state, {include_blank: ''}, {id: 'fa_state', class: 'form-control'} %>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label :manager_id, 'Area Manager', class: "required" %><br>
                        <%= f.grouped_collection_select :manager_id, State.all,:area_managers,:state, :id, :sur_name,  {include_blank: ''},{id: 'fa_manager', class: 'form-control'} %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label :user_id, 'Sales Representative', class: "required" %><br>
                        <%= f.grouped_collection_select :user_id, User.all,:sales_rep,:sur_name, :id, :sur_name,  {include_blank: true}, {id: 'fa_sales_rep', class: 'form-control'} %>
                    </div>
                  </div>



                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label :pocket_id, class: "required" %><br>
                        <%= f.collection_select :pocket_id,Pocket.all,:id, :pocket_name, {include_blank: ''}, {id: 'pocket_mon', class: 'form-control'} %>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                   
                         <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label :position_id, 'Field Assistant', class: "required" %><br>
                        <%= f.grouped_collection_select :position_id, Pocket.all,:pock_finder,:pocket_name, :id, :surname,{include_blank: ''}, {:id => 'field_assist', class: 'form-control'} %>
                      </div>
                    </div>



                       <div id="pop_statmana">
                         

                       </div>
                      


                    
                        




                  
                  </div>




              </div>
            </div>
            </div>

            <div class="col-md-7">
              <div class="panel panel-default">
                <div class="panel-heading text-center">
                  <b>Activity Selection</b>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="form-group">
                        <%= f.label :activity, class: "required" %><br>
                        <%= f.select :activity, options_for_select([["Meet Farmer(s)", 'meet_farmers'], ["Visit Dealer Shop", 'visit_dealer'], ["Assist Sales Representative", 'assist_sr'],
                                                                    ["Met Sales Representative", 'meet_sr'], ["Other", 'other']]),
                                     {include_blank: ''},{class:'form-control'}%>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <%= f.label :date, class: "required" %><br>
                        <%= f.text_field :date,"data-provide" => 'datepicker', data: {date_format: 'yyyy-mm-dd'}, class: 'form-control' %>

                      </div>
                    </div>
                  </div>



                          <div id="meet_farm_sele">
                            <%= f.fields_for :meet_farmers do |meet|%>
                               <%= render 'meet_farmer_fields', f: meet %>

                            <%end%>



                            <div id="post_demo_meeting">
                              <%=f.fields_for :post_demonstrations do |postdemo|%>
                                  <%= render 'post_demonstration_fields', f: postdemo%>
                              <%end%>
                            </div>


                        </div>






                          <div id="dealer_shop">
                            <%= f.fields_for :dealer_visits do |deal|%>
                                <%=render 'dealer_visit_fields', f: deal%>
                            <%end%>
                          </div>





                        <div id="assist_mvc">
                          <%=f.fields_for :assist_reps do |assist|%>
                              <%=render 'assist_rep_fields', f: assist%>
                          <%end%>
                        </div>










                  <div class="col-md-6">
                    <div class="row">
                      <div class="form-group">
                        <div class="field", id="act_comment">
                          <%= f.label :comment, 'Other' %><br>
                          <%= f.text_area :comment, class: 'form-control' %>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

              </div>


              </div>




          </div>

          <div class="row" id="demo_meeting">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading text-center">
                  <b>Pre Demonstration</b>
                </div>
                <div class="panel-body">

                  <%=f.fields_for :pre_demonstrations do |predemo|%>
                      <%= render 'pre_demonstration_fields', f: predemo%>
                  <%end%>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
          <div class="col-md-12">
            <div class="actions">
              <%= f.submit "Submit", id: 'demo_submit', class: "btn btn-primary pull-right"%>
            </div>

            <div class="actions" id="demonstrations_button">
              <%= f.submit 'Next',name: "source", value: "Next",class: "btn btn-primary pull-right"%>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<% end %>
