<%= form_for(@fa_activity) do |f| %>
  <% if @fa_activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fa_activity.errors.count, "error") %> prohibited this fa_activity from being saved:</h2>

      <ul>
      <% @fa_activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :state_id %><br>
    <%= f.collection_select :state_id, State.all, :id, :state, {include_blank: ''}, {id: 'fa_state'} %>
  </div>
  <div class="field">
    <%= f.label :user_id, 'Area Manager' %><br>
    <%= f.grouped_collection_select :user_id, State.all,:area_managers,:state, :id, :sur_name,  {include_blank: true},{id: 'fa_manager'} %>
  </div>

    <div class="field">
      <%= f.label :user_id, 'Sales Representative' %><br>
      <%= f.grouped_collection_select :user_id, User.all,:sales_rep,:sur_name, :id, :sur_name,  {include_blank: true}, {id: 'fa_sales_rep'} %>
    </div>

  <div class="field">
    <%= f.label :pocket_id %><br>
    <%= f.grouped_collection_select :pocket_id,User.all,:pockets,:sur_name, :id, :pocket_name, {include_blank: ''}, {id: 'pocket_mon'} %>
  </div>

    <div class="field">
      <%= f.label :position_id, 'Field Assistant' %><br>
      <%= f.grouped_collection_select :position_id, Pocket.all,:pock_finder,:pocket_name, :id, :surname,{include_blank: ''}, {:id => 'field_assist'} %>
    </div>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date,"data-provide" => 'datepicker', data: {date_format: 'yyyy-mm-dd'} %>
  </div>

    <div class="field">
      <%= f.label :activity %><br>
      <%= f.select :activity, options_for_select([["Meet Farmer(s)", 'meet_farmers'], ["Visit Dealer Shop", 'visit_dealer'], ["Assist Sales Representative", 'assist_sr'],
                                                  ["Met Sales Representative", 'meet_sr'], ["Other", 'other']]),
                   {include_blank: ''}%>
    </div>

    <div>
      <div id="meet_farm_sele" class="container">
      <%= f.fields_for :meet_farmer do |meet|%>
          <%=render 'meet_farmer_fields', f: meet%>
      <%end%>

        <div class="container" id="demo_meeting">
          <%=f.fields_for :pre_demonstrations do |predemo|%>
              <%= render 'pre_demonstration_fields', f: predemo%>
          <%end%>
        </div>

        <div class="container" id="post_demo_meeting">
          <%=f.fields_for :post_demonstrations do |postdemo|%>
          <%= render 'post_demonstration_fields', f: postdemo%>
              <%end%>
        </div>

      </div>
    </div>

    <div id="dealer_shop" class="container">
      <%= f.fields_for :dealer_visits do |deal|%>
          <%=render 'dealer_visit_fields', f: deal%>
          <%end%>
    </div>

    <div class="container" id="assist_mvc">
      <%=f.fields_for :assist_reps do |assist|%>
      <%=render 'assist_rep_fields', f: assist%>
          <%end%>
    </div>



  <div class="field", id="act_comment">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', id: 'demo_submit'%>
  </div>

    <div class="actions" id="demonstrations_button">
      <%= f.submit 'Next',name: "source", value: "Next"%>

    </div>
<% end %>
