<div class="field">
  <%= f.label :dealer_id %><br>
  <%= f.number_field :dealer_id %>
</div>

<div class="field">
  <%= f.label :village_id %><br>
  <%= f.number_field :village_id %>
</div>


<div class="field">
  <%= f.label :number_farmer, 'Number of farmers Met: '%>
  <%=f.select :number_farmer, (1..10), {include_blank: ''}%>
</div>
<div class="container" id="met_farmers">
  <div class="field", id="farm_met_1">
    <%= f.label :farmer_id %><br>
    <%= f.number_field :farmer_id %>
  </div>

  <div class="field", id="farm_met_2">
    <%= f.label :farmer_id %><br>
    <%= f.number_field :farmer_id %>
  </div>

  <div class="field", id="farm_met_3">
    <%= f.label :farmer_id %><br>
    <%= f.number_field :farmer_id %>
  </div>

  <div class="field", id="farm_met_4">
    <%= f.label :farmer_id %><br>
    <%= f.number_field :farmer_id %>
  </div>

  <div class="field", id="farm_met_5">
    <%= f.label :farmer_id %><br>
    <%= f.number_field :farmer_id %>
  </div>

  <div class="field", id="farm_met_6">
    <%= f.label :farmer_id %><br>
    <%= f.number_field :farmer_id %>
  </div>

  <div class="field", id="farm_met_7">
    <%= f.label :farmer_id %><br>
    <%= f.number_field :farmer_id %>
  </div>

  <div class="field", id="farm_met_8">
    <%= f.label :farmer_id %><br>
    <%= f.number_field :farmer_id %>
  </div>

  <div class="field", id="farm_met_9">
    <%= f.label :farmer_id %><br>
    <%= f.number_field :farmer_id %>
  </div>

  <div class="field", id="farm_met_10">
    <%= f.label :farmer_id %><br>
    <%= f.number_field :farmer_id %>
  </div>

</div>


<div class="field">
  <%= f.label :purpose %><br>
  <%= f.select :purpose, options_for_select([["Introduction", 'introduction'],["Pre Demonstration",'pre_demonstration'],["Demonstration",'demonstration'],["Post Demonstration", 'post_demonstration'], ["Product Prescription", 'product_prescription'], ["Consultation/Guidance", 'consultation']]),
                  {include_blank: ''}%>
</div>
<div class="field", id="meet_farmer_consultation_div">
  <%= f.label :consultation %><br>
  <%= f.select :consultation, options_for_select([["Soil", 'soil'], ["Growth", 'growth'], ["Yield", 'yield'], ["Infestation", 'infestation'],
                                                     ["Irrigation", 'irrigation'],["Product Usage", 'product_use']]),
                  {include_blank: ''}%>
</div>


<div class="container", id="prod_pres_sele">
  <%=f.fields_for :product_prescriptions do |prod|%>
      <%=render 'product_prescription_fields', f: prod%>
  <%end%>
</div>

<div id="pop_forms">

</div>