<div class="field">
  <%= f.label :dealer_id %><br>
  <%= f.number_field :dealer_id %>
</div>
<div class="field">
  <%= f.label :farmer_id %><br>
  <%= f.number_field :farmer_id %>
</div>
<div class="field">
  <%= f.label :crop_id %><br>
  <%= f.number_field :crop_id %>
</div>

<div class="field">
  <%= f.label :crop_growth %><br>
  <%= f.select :crop_growth, options_for_select([["Soil Preparation",'soil_prep'],["30 - 40 days after sowing / transplanting", '30_40_days_after_sowing_transplant'],
                                                    ["40 - 60 days after sowing / transplanting",'40_60_days_after_sowing_transplant'],
                                                    ["100 - 120 Days after sowing / transplanting",'100_120_days_after_sowing_transplant'],
                                                    ["120 days after sowing / transplanting",'120_days_after_sowing_transplant'],["30 - 40 days before flowering",'30_40_days_before_flowering'],
                                                    ["Before flowering",'before_flowering'],["After flowering",'after_flowering'],["At fruit setting",'fruit_setting'],["After fruit setting",
                                                                                                                                                                        'after_fruit_setting'],["30 - 40 days after pruning", '30_40_days_after_pruning'], ["50 - 60 days after pruning",'50_60_days_after_pruning'],
                                                    ["During vegetative stage",'during_vegetative_stage'],["Immediately after pruning",'immediately_after_pruning'],["20 - 30 days after breaking dormancy",
                                                                                                                                                                     '20_30_days_after_breaking_dormancy'],["After bunch formation",'after_bunch_formation'],["After Flowering - Before Fruit / Grain Setting", 'after_flower_before_fruit_grain_setting'],
                                                    ["At Fruit / Grain Setting", 'at_fruit_grain_setting'],["After Fruit / Grain Setting",'after_fruit_grain_setting'],[" Boll / Bulb / Pod Formation",'boll_pod_formation'],
                                                    ["After Plucking",'after_plucking'],["After 2-3 plucking",'2-3_after_plucking']]),
                  {include_blank:''}%>
</div>
<div class="field">
  <%= f.label :crop_cond, 'Crop Condition' %><br>
  <%= f.select :crop_cond, options_for_select([["Drought", 'drought'],["Flower/Fruit Shedding", 'flower'], ["Healty Growth", 'healthy_growth'], ["Heat Stress",'heat_stress'],
                                                  ["Infestation - Bacterial", 'bacterial_infest'], ["Infestation - Fungal",'fungal_infest'], ["Infestation - Mite", 'mite_infest'],
                                                  ["Infestation - Nematode", 'nematode_infest'],["Infestation - Suck Pest",'suck_pest_infest'], ["Infestation - Viral",'viral_infest'],
                                                  ["Infestation - Other",'other_infest'], ["Leaf Curling", 'leaf_curling'], ["Root Rot",'root_rot'],["Root Wilt", 'root_wilt'],
                                                  ["Salt Stress", 'salt_stress'], ["Water Stress",'water_stress']]), {include_blank: ''}%>
</div>
<div class="field">
  <%= f.label :acreage %><br>
  <%= f.text_field :acreage %> <%=f.select :units, options_for_select([["Bigha",'bigha'],["Guntha(Ares)",'guntha'],["Acres",'acres'],["Hectares", 'hectares']])%>
</div>
<div class="field">
  <%= f.label :prescribe, 'Prescribed?' %><br>
  <%= f.check_box :prescribe %>
</div>
