<div class="nested-fields">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered">
          <tbody>

          <tr>
            <th class="text-center">
              <%= f.label :product_id, 'Product' %>
            </th>
            <!--<th>Select Quantity</th>-->
            <th class="text-center">
              <%= f.label :single_id, 'Single Quantity' %>
            </th>
            <th class="text-center">
              <%= f.label :box_id, 'Single Box' %>
            </th>
          </tr>


          <tr>
          <td class="text-center">
            <%= f.collection_select :product_id, Product.all, :id,:name, {include_blank: ''}, {class: 'form-control'} %>
          </td>
          <!--<td><select name="bulk" id="bulk_sele">-->
          <!--<option disabled selected value> -&#45;&#45;Pick single or box-&#45;&#45;</option>-->
          <!--<option value="single">Single</option>-->
          <!--<option value="box">Box</option>-->
          <!--</select></td>-->

          <td class="text-center">
            <%= f.collection_select :single_id, Single.all, :id, :name, {include_blank: ''},{class: 'form-control'}%>
          </td>

          <td class="text-center">
            <%= f.collection_select :box_id, Box.all, :id, :name, {include_blank: ''},{class: 'form-control'}%>
          </td>

          <td class="text-center">
            <%=link_to_remove_association 'Remove product', f, class: 'btn btn-danger', style: "color: #FFFFFF"%>
          </td>
          </tr>
          </tbody>
          </table>
        </div>
      </div>
    <div class="row">
      <div class="col-md-12">
      </div>
      <div class="col-md-12">
      </div>
      <div class="col-md-12">
      </div>
    </div>
    </div>






    <tbody>
    <tr>
      <td></td>

      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
    </table>


</div>



  <!--<div class="field">-->
   <!--<br>-->

  <!--</div>-->



  <!--<div class="field" id="single_prod_app">-->
    <!--<br>-->

  <!--</div>-->

  <!--<div class="field" id="box_prod_app">-->
    <!--<br>-->

  <!--</div><br>-->

<!--</div>-->