<p id="notice"><%= notice %></p>

<h1>Listing Fa Activities</h1>

<table>
  <thead>
    <tr>
      <th>Field assistant</th>
      <th>State</th>
      <th>User</th>
      <th>Pocket</th>
      <th>Date</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fa_activities.each do |fa_activity| %>
      <tr>
        <td><%= fa_activity.field_assistant_id %></td>
        <td><%= fa_activity.state_id %></td>
        <td><%= fa_activity.user_id %></td>
        <td><%= fa_activity.pocket_id %></td>
        <td><%= fa_activity.date %></td>
        <td><%= fa_activity.comment %></td>
        <td><%= link_to 'Show', fa_activity %></td>
        <td><%= link_to 'Edit', edit_fa_activity_path(fa_activity) %></td>
        <td><%= link_to 'Destroy', fa_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fa activity', new_fa_activity_path %>
