
<body>

<div class="container">
  <%=will_paginate%>
  <div class="panel panel-default">
    <div class="panel-heading ">
      <h1 class="panel-title ">

        <b> FA Activities </b>
      </h1>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered">
            <tbody>
            <tr>
              <th class="text-center">
                Field Assistant
              </th>
              <th class="text-center">
                State
              </th>
              <th class="text-center">
                User
              </th>
              <th class="text-center">
                Pocket
              </th>
              <th class="text-center">
                Date
              </th>
              <th class="text-center">
                Comments
              </th>
              <td class="text-center">
                <%= link_to 'New FA Activity', new_fa_activity_path, 'data-no-turbolink' => true, class: "btn btn-success",:style=>'color:#FFFFFF'%>
              </td>
            </tr>
            <tr>
              <% @fa_activities.each do |fa_activity| %>
                  <td class="text-center">
                    <%= fa_activity.position.fullname %>
                  </td>
                  <td class="text-center">
                    <%= fa_activity.state_id %>
                  </td>
                  <td class="text-center">
                    <%= fa_activity.user_id %>
                  </td>
                  <td class="text-center">
                    <%= fa_activity.pocket_id %>
                  </td>
                  <td class="text-center">
                    <%= fa_activity.date %>
                  </td>
                  <td class="text-center">
                    <%= fa_activity.comment %>
                  </td>
                  <td class="text-center">
                    <%= link_to 'View FA activities', fa_activity, class: "btn btn-primary",:style=>'color:#FFFFFF' %>
                  </td>
                  </tr>
              <% end %>
              </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </div>
</div>
<%=will_paginate%>