<p>
  <strong>Field assistant:</strong>
  <%= @fa_activity.position.surname %>
</p>

<p>
  <strong>State:</strong>
  <%= @fa_activity.state.state %>
</p>

<p>
  <strong>Area Manager:</strong>
  <%= @fa_activity.user.manager.sur_name %>
</p>

<p>
  <strong>Sales Representative:</strong>
  <%= @fa_activity.user.sur_name %>
</p>

<p>
  <strong>Pocket:</strong>
  <%= @fa_activity.pocket.pocket_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @fa_activity.date %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @fa_activity.activity.humanize.titleize %>
</p>


<%= render 'fa_activities/fa_act_show/fa_act_other' if @fa_activity.activity=='other' %>
<%= render 'fa_activities/meet_farmer_show/purpose_show' if @fa_activity.activity=='meet_farmers' %>
<%= render 'fa_activities/visit_dealer_show/purpose_dealer_' if @fa_activity.activity=='visit_dealer' %>
<%= render 'fa_activities/assist_sr_show/assist_show' if @fa_activity.activity=='assist_sr' %>


<%= link_to 'Edit', edit_fa_activity_path(@fa_activity) %> |
<%= link_to 'Back', root_path %>
