<%= form_for(@dealeravatar) do |f| %>
  <% if @dealeravatar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dealeravatar.errors.count, "error") %> prohibited this dealeravatar from being saved:</h2>

      <ul>
      <% @dealeravatar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dealer_id %><br>
    <%= f.number_field :dealer_id %>
  </div>
  <div class="field">
    <%= f.label :dealer_photo %><br>
    <%= f.text_field :dealer_photo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
