<p id="notice"><%= notice %></p>

<p>
  <strong>Village:</strong>
  <%= @village.village %>
</p>

<p>
  <strong>State:</strong>
  <%= @village.state_id %>
</p>

<%= link_to 'Edit', edit_village_path(@village) %> |
<%= link_to 'Back', villages_path %>
