<link rel="stylesheet" type="text/css" media="screen" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href="./css/prettify-1.0.css" rel="stylesheet">
<link href="./css/base.css" rel="stylesheet">
<link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
<script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>

<%= form_for(@farmer) do |f| %>
    <% if @farmer.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@farmer.errors.count, "error") %> prohibited this farmer from being saved:</h2>

          <ul>
            <% @farmer.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <%= link_to 'Back', farmers_path, class: "btn btn-success pull-left",:style=>'color:#FFFFFF' %>
              <%= link_to 'Cancel', root_path, class: "btn btn-danger pull-right",:style=>'color:#FFFFFF' %>
              <h1 class="panel-title text-center">
                <b>Register New Farmer</b>
              </h1>
            </div>
        <div class="panel-body">
          <label class="required">Required Fields: </label>
          <div class="row">
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    <b>Geographic Information</b>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label :state_id, class: 'required' %><br>
                        <%= f.collection_select :state_id, State.all, :id, :state, {:include_blank => true}, {class: "form-control",id: 'sr_state'} %>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <%=f.label :user_id, 'State Manager', class: 'required'%><br>
                        <%= f.grouped_collection_select :user_id, State.all,:state_manager,:state, :id, :sur_name, {:include_blank => true}, {class: "form-control",id: 'state_manager'}  %>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <%=f.label :manager_id, 'Area Manager', class: 'required'%><br>
                        <%= f.grouped_collection_select :manager_id, State.all, :area_managers,:state,:id, :sur_name, {:include_blank => true}, {class: "form-control", id: 'manager'}  %>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <%=f.label :user_id, 'Sales Representative', class: 'required'%><br>
                        <%=f.grouped_collection_select :user_id, User.all,:sales_rep,:sur_name, :id,:fullname, {include_blank: ''},{class: "form-control", id: 'sale_rep_act_rep'}%>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label :pocket_id, 'Select Pocket' %><br>
                        <%= f.collection_select :pocket_id, Pocket.all, :id, :pocket_name, {:include_blank => true}, {class: "form-control", id: 'pocket_farmer'} %>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label :dealer_id, 'Select Dealer', class: 'required' %><br>
                        <%= f.collection_select :dealer_id, Dealer.all, :id, :name, {:include_blank => true}, {class: "form-control"} %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    <b>Farmer Information</b>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="form-group">
                        <div>
                          <%= f.label :name, 'Farmer Name', class: 'required' %><br>
                          <%= f.text_field :name, {class: "form-control"} %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label :pocket_dat_id, 'Select Village', class: 'required' %>
                        <%= f.grouped_collection_select :pocket_dat_id, Pocket.all, :village_pocket,:pocket_name,:id, :village, {:include_blank => true}, {class: "form-control", id: 'le_village'} %>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="form-group">
                        <div>
                          <%= f.label :phnumber, 'Farmer Phone Number' %><br>
                          <%= f.text_field :phnumber, {class: "form-control",id: 'contact_phone', value: number_to_phone(f.object.phnumber), placeholder: "+91-xxxx-xxxxxx"} %>
                        </div>
                      </div>
                      <div>
                        <%= f.label :introcall, 'Introductory Call to Farmer' %><br>
                      </div>
                      <div class='input-group date' id='datetimepicker1'>
                        <%=f.text_field :introcall, {class: "form-control"} %>
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        <script type="text/javascript">
                          $(function () {
                            $('#datetimepicker1').datetimepicker();
                          });
                        </script>
                      </div><br>
                      <div class="col-md-13">
                        <div class="form-group">
                          <div>
                            <%= f.label 'Has the data been verified with the Farmer?' %><br>
                            <%= f.radio_button(:callverified, "Yes") %>
                            <%= label_tag(:callverified, 'Yes') %>
                            <%= f.radio_button(:callverified, "No") %>
                            <%= label_tag(:callverified, 'No') %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <div class="panel-title">
                      <b>Crop Information</b>
                    </div>
                  </h3>
                </div>
               </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4 text-center">
                          <%= link_to_add_association "Add Crop Information", f, :farmcrops ,class: "btn btn-info",:style=>'color:#FFFFFF'%>
                        </div>
                        <div class="col-md-4">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4 text-right">
          <div class="actions">
            <%= f.submit "Submit", class: "btn btn-primary pull-right", id:"sub_stuff"%>
          </div>
        </div>
      </div>
  </div>
<% end %>
