<p id="notice"><%= notice %></p>

<p>
  <strong>Stid:</strong>
  <%= @farmer.stid %>
</p>

<p>
  <strong>Useridstmgr:</strong>
  <%= @farmer.useridstmgr %>
</p>

<p>
  <strong>Useridamgr:</strong>
  <%= @farmer.useridamgr %>
</p>

<p>
  <strong>Useridsr:</strong>
  <%= @farmer.useridsr %>
</p>

<p>
  <strong>Pocketid:</strong>
  <%= @farmer.pocketid %>
</p>

<p>
  <strong>Dealerid:</strong>
  <%= @farmer.dealerid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @farmer.name %>
</p>

<p>
  <strong>Villageid:</strong>
  <%= @farmer.villageid %>
</p>

<p>
  <strong>Phnumber:</strong>
  <%= @farmer.phnumber %>
</p>

<p>
  <strong>Cropid:</strong>
  <%= @farmer.cropid %>
</p>

<p>
  <strong>Acreage:</strong>
  <%= @farmer.acreage %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @farmer.unit %>
</p>

<p>
  <strong>Irr source:</strong>
  <%= @farmer.irr_source %>
</p>

<p>
  <strong>Introcall:</strong>
  <%= @farmer.introcall %>
</p>

<p>
  <strong>Callverified:</strong>
  <%= @farmer.callverified %>
</p>

<%= link_to 'Edit', edit_farmer_path(@farmer) %> |
<%= link_to 'Back', farmers_path %>
