<p id="notice"><%= notice %></p>

<h1>Listing Pocket Districts</h1>

<table>
  <thead>
    <tr>
      <th>Pocket</th>
      <th>District</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pocket_districts.each do |pocket_district| %>
      <tr>
        <td><%= pocket_district.pocket_id %></td>
        <td><%= pocket_district.district_id %></td>
        <td><%= link_to 'Show', pocket_district %></td>
        <td><%= link_to 'Edit', edit_pocket_district_path(pocket_district) %></td>
        <td><%= link_to 'Destroy', pocket_district, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pocket district', new_pocket_district_path %>
