<div class="nested-fields">
  <div class="row">
    <div class="col-md-12">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="required">
          Bank Name
        </label>
        <%= f.text_field :name, {class: "form-control"} %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="required">
          Branch Name
        </label>
        <%= f.text_field :branch, {class: "form-control"} %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label class="required">
          Account Number
        </label>
        <%= f.text_field :account_number, {class: "form-control"} %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="required">
          Bank Address
        </label>
        <%= f.text_field :address, {class: "form-control"} %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="required">
          Phone Number
        </label>
        <%= f.text_field :phone, class: "form-control",id: 'contact_phone', value: number_to_phone(f.object.phone), placeholder: "+91-xxxx-xxxxxx" %>
      </div>
    </div>
  </div>
      </div>
    </div>
  <div class="links">
    <%= link_to_remove_association "Remove", f, class: "btn btn-danger pull-right",:style=>'color:#FFFFFF'%>
  </div>
</div>