<div class="nested-fields">
  <div class="row">
    <div class="col-md-12">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <tbody>
        <tr>
          <th class="text-center" style="width:15%">
            <label class="required">
              Dealer Name
            </label>
          </th>
          <th class="text-center">
            Villages
          </th>
          <th class="text-center" style="width:12%">
            <label class="required">
              Crop
            </label>
          </th>
          <th class="text-center" style="width:12%">
            Start Date
          </th>
          <th class="text-center" style="width:12%">
            End Date
          </th>
          <th class="text-center">
            Months
          </th>
          <th class="text-center">
            Samples
          </th>
          <th class="text-center">
            Demos
          </th>
          <th class="text-center">
            Farmer Meetings
          </th>
          <th class="text-center">
            Prescriptions
          </th>
        </tr>
        <tr class="info">
          <td>
            <div class="form-group">
              <%= f.collection_select :dealer_id, Dealer.all, :id, :name, {:include_blank => true}, class: "form-control" %>
            </div>
          </td>
          <td>
            <div class="form-group">
              <%= f.number_field :village_number, class: "form-control", placeholder: "#" %>
            </div>
          </td>
          <td>
            <div class="form-group">
              <%= f.collection_select :crop_id, Crop.all, :id, :crop, {:include_blank => true}, class: "form-control" %>
            </div>
          </td>
          <td>
            <%= f.text_field :start_date, "data-provide" => 'datepicker', data: {date_format: 'yyyy-mm-dd'}, class: "form-control" %>
          </td>
          <td>
            <%= f.text_field :end_date, "data-provide" => 'datepicker', data: {date_format: 'yyyy-mm-dd'}, class: "form-control" %>
          </td>
          <td>
            <div class="form-group">
              <%= f.number_field :total_month, :disabled => true, class: "form-control" %>
            </div>
          </td>
          <td>
            <div class="form-group">
              <%= f.number_field :sample_number, class: "form-control", placeholder: "#" %>
            </div>
          </td>
          <td>
            <div class="form-group">
              <%= f.number_field :demo_number, class: "form-control", placeholder: "#" %>
            </div>
          </td>
          <td>
            <div class="form-group">
              <%= f.number_field :farmer_number, class: "form-control", placeholder: "#" %>
            </div>
          </td>
          <td>
            <div class="form-group">
              <%= f.number_field :prescription_number, class: "form-control", placeholder: "#" %>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      </div>
    </div>
        </div>
      </div>
  <div class="links">
    <%= link_to_remove_association "Remove", f, class: "btn btn-danger pull-right",:style=>'color:#FFFFFF'%>
  </div>
    </div>
