<%= form_for @field_assistant, :html =>{:multipart => true} do |f| %>
  <% if @field_assistant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@field_assistant.errors.count, "error") %> prohibited this field_assistant from being saved:</h2>

      <ul>
      <% @field_assistant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="panel-title text-center">
          <%= link_to 'Back', field_assistants_path, class: "btn btn-info pull-left",:style=>'color:#FFFFFF' %>
          <%= link_to 'Cancel', root_path, class: "btn btn-danger pull-left",:style=>'color:#FFFFFF' %>
          <b>Register New Field Assistant (Create Position)</b>
          <%= link_to 'Fulfill Position', new_position_path, class: "btn btn-success pull-right",:style=>'color:#FFFFFF' %>
        </h1>
      </div>
      <div class="panel-body">
        <label class="required">
          Required Fields:
        </label>
        <br>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <b>Geographic Information</b>
                </h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="required">
                        State
                      </label>
                      <%= f.collection_select :state_id, State.all, :id, :state, {:include_blank => true}, {class: "form-control",id: 'sr_state'} %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>
                        State Manager
                      </label>
                      <%= f.grouped_collection_select :user_id, State.all,:state_manager,:state, :id, :sur_name, {:include_blank => true}, {class: "form-control",id: 'state_manager'}  %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>
                        Area Manager
                      </label>
                      <%= f.grouped_collection_select :user_id, State.all, :area_managers,:state,:id, :sur_name, {:include_blank => true}, {class: "form-control", id: 'manager'}  %>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>
                        Sales Representative
                      </label>
                      <%=f.grouped_collection_select :user_id, User.all,:sales_rep,:sur_name, :id,:sur_name, {include_blank: ''},{class: "form-control", id: 'sale_rep_act_rep'}%>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="required">
                        Pocket
                      </label>
                      <%= f.collection_select :pocket_id, Pocket.all, :id, :pocket_name, {:include_blank => true}, {class: "form-control"} %>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>
                        Field Assistant ID
                      </label>
                      <%= f.text_field :fa_number,:disabled => true, class: "form-control" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <b>Field Assistant Targets</b>
                </h3>
              </div>
              <div class="panel-body">
                <div>
                  <%= f.fields_for :fa_targets do |prop|%>
                      <%=render 'fa_target_fields', f: prop%>
                  <%end%>

                  <div class="links ">
                    <%=link_to_add_association 'Add FA Target', f, :fa_targets,class: "btn btn-info",:style=>'color:#FFFFFF'%>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        <div class="row">
          <div class="col-md-12 text-center">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4 text-right">
        <div class="actions">
          <%= f.submit "Submit", class: "btn btn-primary pull-right", id:"sub_stuff"%>
        </div>
      </div>
    </div>

<% end %>
