<p id="notice"><%= notice %></p>

<p>
  <strong>Pre demonstration:</strong>
  <%= @business_development.pre_demonstration_id %>
</p>

<p>
  <strong>Pocket:</strong>
  <%= @business_development.pocket_id %>
</p>

<p>
  <strong>Option:</strong>
  <%= @business_development.option %>
</p>

<p>
  <strong>Sample request:</strong>
  <%= @business_development.sample_request %>
</p>

<p>
  <strong>Numattendees:</strong>
  <%= @business_development.numattendees %>
</p>

<p>
  <strong>A attendees:</strong>
  <%= @business_development.a_attendees %>
</p>

<p>
  <strong>B attendees:</strong>
  <%= @business_development.b_attendees %>
</p>

<p>
  <strong>C attendees:</strong>
  <%= @business_development.c_attendees %>
</p>

<%= link_to 'Edit', edit_business_development_path(@business_development) %> |
<%= link_to 'Back', business_developments_path %>
