<p id="notice"><%= notice %></p>

<h1>Listing Proprietors</h1>

<table>
  <thead>
    <tr>
      <th>Fname</th>
      <th>Sname</th>
      <th>Mname</th>
      <th>Designation</th>
      <th>Staddress</th>
      <th>Phnumber</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proprietors.each do |proprietor| %>
      <tr>
        <td><%= proprietor.fname %></td>
        <td><%= proprietor.sname %></td>
        <td><%= proprietor.mname %></td>
        <td><%= proprietor.designation %></td>
        <td><%= proprietor.staddress %></td>
        <td><%= proprietor.phnumber %></td>
        <td><%= link_to 'Show', proprietor %></td>
        <td><%= link_to 'Edit', edit_proprietor_path(proprietor) %></td>
        <td><%= link_to 'Destroy', proprietor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proprietor', new_proprietor_path %>
