<%@fa_activity.meet_farmers.each do |meet_farm|%>
<p>
  <strong>Dealer:</strong>
  <%= meet_farm.dealer.name %>
</p>

<p>
  <strong>Village:</strong>
  <%=  meet_farm.pocket_dat.village %>
</p>
<p>
  <strong>Number Of Farmers Met</strong>
  <%=meet_farm.number_farmer%>
</p>


<p>
  <strong>Farmers:</strong>
  <% meet_farm.activity_farmers.each do |farm| %>
  <%=farm.farmer.name%><br>
      <%end%>
</p>

<p>
  <strong>Purpose:</strong>
  <%= meet_farm.purpose.humanize.titleize %>
</p>

<%= render 'fa_activities/meet_farmer_show/pre_demo_show' if meet_farm.purpose=='pre_demonstration' %>
<%= render 'fa_activities/meet_farmer_show/post_demo_show' if meet_farm.purpose=='post_demonstration' %>
<%= render 'fa_activities/meet_farmer_show/product_prescribe_show' if meet_farm.purpose=='product_prescription' %>
<%= render 'fa_activities/meet_farmer_show/consultation_show' if meet_farm.purpose=='consultation' %>
<%end%>