<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading ">
      <h1 class="panel-title ">
        <b> Pre-Demonstrations</b>
      </h1>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered">
            <tbody>
            <tr>
              <th class="text-center">
                Farmer
              </th>
              <th class="text-center">
                Crop
              </th>
              <th class="text-center">
                Crop Condition
              </th>
              <th class="text-center">
                Crop Growth
              </th>

              <th class="text-center">
                Demonstration Code
              </th>
              <td class="text-center">

              </td>
            </tr>
            <tr>
              <% @pre_demonstrations.each do |pre_demo| %>
                  <td class="text-center">
                    <%= pre_demo.farmer_id %>
                  </td>
                  <td class="text-center">
                    <%= pre_demo.crop.crop %>
                  </td>
                  <td class="text-center">
                    <%= pre_demo.condition %>
                  </td>
                  <td class="text-center">
                    <%= pre_demo.crop_growth %>
                  </td>
                  <td class="text-center">
                    <%= pre_demo.demo_code %>
                  </td>
                  <td class="text-center">
                    <%= link_to 'New Demonstration', new_demonstration_path(:pre_id => pre_demo.id), class: 'btn btn-primary',:style=>'color:#FFFFFF',  id: 'hope'%>
                  </td>
                  </tr>
              <% end %>
              </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </div>
</div>
