<p id="notice"><%= notice %></p>

<h1>Listing Pre Demonstrations</h1>

<table>
  <thead>
    <tr>
      <th>Farmer</th>
      <th>Crop</th>
      <th>Fa activity</th>
      <th>Crop growth</th>
      <th>Condition</th>
      <th>Demo code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pre_demonstrations.each do |pre_demonstration| %>
      <tr>
        <td><%= pre_demonstration.farmer_id %></td>
        <td><%= pre_demonstration.crop_id %></td>
        <td><%= pre_demonstration.fa_activity_id %></td>
        <td><%= pre_demonstration.crop_growth %></td>
        <td><%= pre_demonstration.condition %></td>
        <td><%= pre_demonstration.demo_code %></td>
        <td><%= link_to 'Show', pre_demonstration %></td>
        <td><%= link_to 'Edit', edit_pre_demonstration_path(pre_demonstration) %></td>
        <td><%= link_to 'Destroy', pre_demonstration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pre demonstration', new_pre_demonstration_path %>
