<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Single:</strong><br>
  <%@product.singles.each do |ps| %>
  <%=ps.name%><br>
      <%end%>
</p>

<p>
  <strong>Boxes:</strong><br>
  <%@product.boxes.each do |bx| %>
      <%=bx.name%><br>
  <%end%>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
