<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= image_tag ("DMETER.png"), id: "oa_logo2"%>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Action Page", root_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Field Assistant <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Field Assistants", positions_path %></li>
            <li><a href="#">Activities</a></li>
            <li><%= link_to "Positions", field_assistants_path %></li>
            <li><%= link_to "Pockets", pockets_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <%if user_signed_in?%>
        <li><%=link_to current_user.email, edit_user_registration_path%></li>
            <% if current_user.admin?%>
            <li><%=link_to 'All Users', users_path%></li>
                <li><%=link_to 'Approve Users', users_path(:approved=>false)%></li>
                <%end%>
            <li><%=link_to 'Logout', destroy_user_session_path, method: :delete%></li>
            <%else%>
            <li><%= link_to 'Sign Up', new_user_registration_path%></li>
            <li><%= link_to 'Login', new_user_session_path%></li>
            <%end%>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  <script>$('.dropdown-toggle').dropdown() </script>
</nav>

