<nav class="navbar navbar-default ">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to (image_tag "DMETER.png", id: "oa_logo2"), root_path %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <%if user_signed_in?%>
        <li><%= link_to "Action Page", root_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Index <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Dealers", dealers_path %></li>
            <li><%= link_to "Farmers", farmers_path %></li>
            <li><%= link_to "Field Assistants", positions_path %></li>
            <li><%= link_to "Field Assistant Activities", fa_activities_path %></li>
            <li><%= link_to "Positions", field_assistants_path %></li>
            <li><%= link_to "Pockets", pockets_path %></li>
            <li><%= link_to "Product Samples", prodsamples_path %></li>
            <li><%= link_to "Sales Representatives", sr_activities_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Active Demonstrations Summary</a></li>
            <li><a href="#">Dealer Summary</a></li>
            <li><a href="#">Farmer Summary</a></li>
            <li><a href="#">Field Assistant Activity Summary</a></li>
            <li><a href="#">Sales Representative Activity Summary</a></li>


          </ul>
        </li>
            <%if current_user.admin?%>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%=link_to 'All Users', users_path%></li>
                    <li><%=link_to 'Approve Users', users_path(:approved=>false)%></li>
                    <li><a href="#"><%=link_to "Crops", crops_path %></a></li>
                    <li><a href="#"><%=link_to "Districts", districts_path %></a></li>
                    <li><a href="#"><%=link_to "Products", products_path %></a></li>
                    <li><a href="#"><%=link_to "Products - Single Packaging", singles_path %></a></li>
                    <li><a href="#"><%=link_to "Products -  Box Packaging", boxes_path %></a></li>
                    <li><a href="#"><%=link_to "States", states_path %></a></li>
                  </ul>
                </li>
                <%end%>
            <%end%>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <%if user_signed_in?%>
        <li><%=link_to current_user.user_name, edit_user_registration_path%></li>

            <li><%=link_to 'Logout', destroy_user_session_path, method: :delete%></li>
            <%else%>
            <li><%= link_to 'Sign Up', new_user_registration_path%></li>
            <li><%= link_to 'Login', new_user_session_path%></li>
            <%end%>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  <script>$('.dropdown-toggle').dropdown() </script>
</nav>

